.card {
    border-radius: 2px;
    height: 100%;
    width: 200px; 
    margin: 20px;

    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    display: inline-block;
    overflow: hidden;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: #ffffff;;
  }
